<template name="taskItem">
    <div class="task-item {{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">

        <button class="delete">&times;</button>

        {{#if isOwner}}
            <button class="toggle-private">
                {{#if private}}
                    Private
                {{else}}
                    Public
                {{/if}}
            </button>
        {{/if}}

        <input type="checkbox" checked="{{checked}}" class="toggle-checked">
        <span class="text">{{username}} - {{text}}</span>

    </div>
</template>