<template name="navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <img height="25" width="auto" src="/favicon.ico">
                </div>

            </div>
            <p class="navbar-text">Karazhan</p>
            <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
        </div>
    </nav>
</template>